<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">

    {% load static %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>TodoList</title>

  </head>

  <body>

    <header>

      <h1>TodoList</h1>

      <a href="/todos/add">Add Todo</a>

      <hr>

    </header>
